.margin{
  margin: 70px;
  border: 1px solid black;
}
.padding{
  padding: 70px;
  border: 1px solid black;
}
.text-align{
  text-align: center;
}
.blue{
  color: blue;
}
.green{
  color: green;
}
.backpink{
  background-color: pink;
}
.backyellow{
  background-color: yellow;
}
hr{
  width: 50%;
}
.red{
  color: red;
}
.border{
  border: 2px solid;
}
span{
  color: red;
}
.background{
  background-color: burlywood;
}
.brown{
  color: brown;
}
table,tr, td,th{
  border: solid black;
}
.style1{
  border: 1px solid red;
  padding: 70px 0;
}
.style2{
  border: 1px solid green;
}
