body{
    color: white;
}
header{
    background-color: red;
    height: 110px;
    width: 100%;
}
nav{
    background-color: green;
    height: 40px;
    width: 100%;
}
.body{
    height: 400px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.main{
    height: 100%;
    width: 60%;
}
section{
    background-color: blue;
    height: 200px;
    width: 100%;
}
article{
    background-color: black;
    height: 200px;
    width: 100%;
}
aside{
    background-color: gray;
    height: 400px;
    width: 40%;
}
footer{
    background-color: orange;
    height: 110px;
    width: 100%;
}
