.margin{
  margin: 70px;
  border: 1px solid;
}
.padding{
  padding: 70px;
}
.text-align{
  text-align: center;
}
.blue{
  color: blue;
}
.green{
  color: green;
}
.backpink{
  background-color: lightpink;
}
.light{
  color: rgb(248, 55, 87);
}
.backyellow{
  background-color: yellow;
}
hr{
  width: 50%;
}
.red{
  color: red;
}
.border{
  border: 2px solid;
  padding: 0 70px;
}
span{
  color: red;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-3{
  flex-grow: 3;
  box-sizing: border-box;
}
.col-9{
  flex-grow: 9;
  box-sizing: border-box;
}
.col-6{
  flex-grow: 6;
  box-sizing: border-box;
}
.flex-container{
  display: flex;
  align-items: flex-end;
}
.background{
  background-color: burlywood;
  padding-top: 10px;
}
.brown{
  color: brown;
  font-size: 42px;
}
table,tr, td,th{
  border: 1px solid black;
  border-collapse: collapse;
}
.STT {
  width: 75px;
  color: white;
}
.Ten{
  width: 300px;
  color: white;
}
.backbrown{
  background-color: brown;
}
.backwhite{
  background-color: white;
}
.center { 
  width: 780px; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: lightgreen;
  color: green;
}

.white{
  background-color: red;
  color: white;
}
td{
  padding: 10px;
}
.pink{
  color: rgb(243, 93, 118);
  font-size: 42px;
}
.img1{
  align-self: center;
  padding: 50px;
}
